.main {
  width: 95%;
  margin: auto;
}

a {
  text-decoration: none;
  color: white !important;
}

/* CSS */
.button {
  background-color: #02323c;
  width: 15%;
  color: white !important;
  font-size: 16px !important;
  float: right;
  margin: 20px 0px;
  border: #02323c;
  border-radius: 5px;
  padding: 10px;


}