.main {
    text-align: center;
    margin-top: 10%;
}

.btnColor {
    background: #02323c !important;
    color: #ffffff !important;
    border: #02323c;

}

.heading {
    font-size: 20px;
    font-weight: 700;
}