.sidebar {
  height: 100vh;
  margin-top: 1px;
}

.sidebarContaint {
  width: 18%;
  height: auto;
  overflow: hidden;
  background: #02323c;

}

span {
  color: #ffffff;

  &:hover {
    color: #de5801;
  }

}


.active span {
  color: #de5801;
}

li {
  list-style-type: none;
  margin: 10% 0% 0% 20%;
  font-size: 15px;
}

a {
  text-decoration: none;

}

.header {
  background: #02323c;
  color: #ffffff;


}

.example-spacer {
  flex: 1 1 auto;
}